/* .header */
.header {
  padding: 1rem 0;

  border-bottom: 1px solid #c6c6c6;
}

.logo {
  display: block;

  margin: auto;
}

/* .product */

.product {
  padding-bottom: 2.5rem;

  border-bottom: 1px solid #c6c6c6;
}

.product__title {
  margin: 1rem 1rem;

  color: #111111;

  font-family: Lora, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}

.product__gallery {
  display: flex;
  overflow-x: scroll;
}

.gallery-img {
  height: 400px;
}

.product__info {
  margin: 1rem 0.5rem 2rem 0.5rem;

  border-bottom: 1px solid #c6c6c6;
}

.product__price {
  margin: 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.19;
}

.product__number {
  margin: 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.17;
}

.product__color {
  margin: 1rem 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}

.product__color-picker-btns {
  display: flex;

  padding-bottom: 2rem;
}

.color-picker-btn {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin: 0;
  margin-right: 1rem;
  padding: 0;

  border: 0;
  border-radius: 50%;

  font-size: 0;
}

.color-picker-btn--black {
  background-color: #232122;
}

.color-picker-btn--fawn {
  background-color: #cfa880;
}

.color-picker-btn:active {
  border: 1px solid #232122;
}

.product__price-number {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.product__properties-btns {
  margin: 0 0.5rem;
}

.btn {
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  padding: 1rem 0;

  border: 0;
  border: solid 1px #171717;
  border-radius: 2px;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.17;
}

.btn--bg-black {
  color: #ffffff;
  background-color: #171717;
}

.btn--bg-white {
  color: #171717;
  background-color: #ffffff;
}

.product__size-help {
  margin: 0.5rem 0;
  padding: 0;

  color: #171717;
  border: 0;
  background-color: #ffffff;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}


/* .read-more */

.read-more-accordion {
  padding: 0 0.5rem;

  border-bottom: 1px solid #c6c6c6;
}

.read-more-accordion__button {
  width: 100%;
  margin: 0;
  padding: 0;

  text-align: left;

  border: 0;
  background-color: #fff;
}

.read-more-accordion__title::after {
  position: absolute;
  top: 50%;
  right: 0;

  width: 10px;
  height: 10px;

  content: "";
  transform: translateY(-50%);

  background-image: url(../img/triangle.svg);

}

.read-more-accordion__title {
  position: relative;

  margin: 2rem 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}

.read-more-accordion > p {
  margin: 0;

  color: #171717;

  font-family: Lora, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.715;
}

.read-more-accordion  ul {
  margin: 1.5rem 0 2rem 0;
  padding: 0;
}

.read-more-accordion  li {
  list-style-type: none;

  color: #171717;

  font-family: Lora, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.715;
}


.read-more-accordion__title--active::after{
  transform: translateY(-50%) rotate(180deg);
}

/* .we-recommend */

.recommendations {
  padding: 1rem 0.5rem;
}

.recommendations__title {
  display: inline-block;

  margin: 2rem 0 1.5rem 0;
  padding-bottom: 0.5rem;

  color: #171717;
  border-bottom: 1px solid #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
}

.recommendations__cards {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.recommendation-card {
  display: flex;
  flex-direction: column;

  margin-bottom: 2rem;

  text-decoration: none;

  flex-basis: 130px;
}

.recommendation-card__img {
  width: 100%;
}


.recommendation-card__title {
  margin: 0.5rem 0;

  color: #111111;

  font-family: Lora, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.19;
}

.recommendation-card__price {
  margin: 0;
  padding-left: 1px;

  color: #999999;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.17;
}

/* .additional-offers */

.additional-offers {
  padding: 0 1rem 3rem 1rem;
}

.additional-offers__title {
  display: inline-block;

  margin: 0;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;

  color: #171717;
  border-bottom: 1px solid #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
}

.additional-offers__link {
  display: block;

  margin-bottom: 1rem;

  text-decoration: none;

  color: #171717;

  font-family: Lora, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.215;
}

/* .footer */

.footer {
  padding: 2rem 0;

  background-color: #f3f3f3;
}

.footer__button {
  display: block;

  margin: 0;
  margin-bottom: 1rem;
  padding: 0;

  color: #999999;
  border: 0;
  background-color: #f3f3f3;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.34;
}

.footer__title {
  display: block;

  margin: 1.5rem 0 1rem 0;

  text-align: center;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.19;
}

.footer__link {
  display: block;

  text-align: center;
  text-decoration: none;

  color: #171717;

  font-family: Lora, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.33;
}

.footer-nav {
  display: none;

  margin-bottom: 1.25rem;
}

.footer-nav__title {
  margin: 1rem 0;

  text-transform: uppercase;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.19;
}

.footer-nav__link {
  display: block;

  margin-bottom: 0.75rem;

  text-decoration: none;

  color: #999999;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.34;
}

/* delivery */

.delivery {
  display: none;
}

.delivery__image {
  width: 100%;
  display: block;
}

.delivery__title {
  margin: 0 0 1rem 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
}

.delivery__sub-title {
  margin: 0 0 0.25rem 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1.2;
}

.delivery__paragraph {
  margin: 0 0 1.5rem 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.34;
}


@media (min-width: 48rem) {
  .header {
    padding: 1.5rem 0;
  }

  .product__title {
    margin: 1.5rem 0;

    font-size: 1.5rem;
    line-height: 1.17;
  }


  .gallery-img {
    height: 576px;

    flex: none;
  }

  .product__info {
    margin: 0 0 2rem 0;
  }

  .product__properties-btns {
    margin: 0;
  }

  .product {
    padding-bottom: 0;

    border-bottom: 1px solid #fff;
  }

  .read-more-accordion {
    padding: 0 1rem 0 0;

    border-bottom: 0;
  }

  .read-more-accordion__title {
    margin: 1.5rem 0 1rem 0;
  }

  .read-more-accordion__title::after {
    display: none;
  }

  .shipping-and-returns {
    display: none;
  }

  .read-more-accordion  ul {
    margin-bottom: 1.5rem;
  }

  .recommendations {
    padding: 0;
  }

  .recommendations__title {
    margin: 1.5rem 0 1rem 0;
  }

  .recommendation-card__price {
    padding-left: 0;
  }

  .recommendation-card {
    margin-bottom: 4rem;
  }

  .additional-offers {
    display: none;
  }

  .delivery {
    display: block;
  }

  .footer {
    padding: 1rem 0rem;
  }

  .footer-nav {
    display: block;
  }

  .footer__title, .footer__link {
    display: none;
  }

  .footer__button {
    display: inline-block;

    margin-right: 1.5rem;
  }


}
