/* .header */
.header {
  padding: 1rem 0;

  border-bottom: 1px solid #c6c6c6;
}

.logo {
  display: block;

  margin: auto;
}

/* .product */

.product {
  padding-bottom: 2.5rem;

  border-bottom: 1px solid #c6c6c6;
}

.product__title {
  margin: 1rem 1rem;

  color: #111111;

  font-family: Lora, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}

.slider {
  display: flex;
  flex-direction: row;
}

.product__info {
  margin: 1rem 1rem 2rem 1rem;

  border-bottom: 1px solid #c6c6c6;
}

.product__price {
  margin: 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.19;
}

.product__number {
  margin: 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.17;
}

.product__color-msg {
  margin: 1rem 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.17;
}

.product__color-picker {
  display: flex;

  padding-bottom: 2rem;
}

.color-picker {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin: 0;
  margin-right: 1rem;
  padding: 0;

  border: 0;
  border-radius: 50%;
}

.color-picker--black {
  background-color: #232122;
}

.color-picker--fawn {
  background-color: #cfa880;
}

.color-picker:active {
  border: 1px solid #232122;
}

.wp-price-number {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.wp-size-submit {
  margin: 0 1rem;
}

.btn {
  width: 100%;
  max-width: 18rem;
  margin: 0;
  margin-bottom: 1rem;
  padding: 1rem 0;

  border: 0;
  border: solid 1px #171717;
  border-radius: 2px;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.17;
}

.btn--bg-black {
  color: #ffffff;
  background-color: #171717;
}

.btn--bg-white {
  color: #171717;
  background-color: #ffffff;
}

.size-help {
  margin: 0.5rem 0;
  padding: 0;

  color: #171717;
  border: 0;
  background-color: #ffffff;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.17;
}


/* .read-more */

.read-more {
  padding: 0 1rem;

  border-bottom: 1px solid #c6c6c6;
}

.wp-read-more {
  display: flex;

  justify-content: space-between;
}

.read-more__title {
  margin: 2rem 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
}

.read-more__par {
  margin: 0;
  margin-bottom: 2rem;

  color: #171717;

  font-family: Lora, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.715;
}

.read-more__icon--rotated {
  transform: rotate(180deg);
}

/* .we-recommend */

.we-recommend {
  padding: 1rem 1rem;
}

.we-recommend__title {
  display: inline-block;

  margin: 2rem 0 1.5rem 0;
  padding-bottom: 0.5rem;

  color: #171717;
  border-bottom: 1px solid #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
}

.recommend-list {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.recommend-list__item {
  display: flex;
  flex-direction: column;

  margin-bottom: 2rem;

  text-decoration: none;

  flex-basis: 130px;
}


.recommend-list__product-title {
  margin: 0.5rem 0;

  color: #111111;

  font-family: Lora, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.19;
}

.recommend-list__price {
  margin: 0;
  padding-left: 1px;

  color: #999999;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.17;
}

/* .additional-offers */

.additional-offers {
  padding: 0 1rem 3rem 1rem;
}

.additional-offers__title {
  display: inline-block;

  margin: 0;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;

  color: #171717;
  border-bottom: 1px solid #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
}

.additional-offers__link {
  display: block;

  margin-bottom: 1rem;

  text-decoration: none;

  color: #171717;

  font-family: Lora, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.215;
}

/* .footer */

.footer {
  padding: 2rem 1rem;

  background-color: #f3f3f3;
}

.footer__btn {
  display: block;

  margin: 0;
  margin-bottom: 1rem;
  padding: 0;

  color: #999999;
  border: 0;
  background-color: #f3f3f3;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.17;
}

.footer__title {
  display: block;

  margin: 1.5rem 0 1rem 0;

  text-align: center;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.19;
}

.footer__contact {
  display: block;

  text-align: center;
  text-decoration: none;

  color: #171717;

  font-family: Lora, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.215;
}
