.delivery {
  display: none;
}

.delivery__image {
  display: block;

  width: 100%;
}

.delivery__title {
  margin: 0 0 1rem 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
}

.delivery__sub-title {
  margin: 0 0 0.25rem 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1.2;
}

.delivery__paragraph {
  margin: 0 0 1.5rem 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.34;
}

@media (min-width: 48rem) {
  .delivery {
    display: block;
  }
}
