.product {
  padding-bottom: 2.5rem;

  border-bottom: 1px solid #c6c6c6;
}

.product__title {
  margin: 1rem 0.5rem;

  color: #111111;

  font-family: Lora, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}

.product__gallery {
  position: relative;
  right: 50%;
  left: 50%;

  display: flex;
  overflow-x: scroll;

  width: 100vw;
  margin: 0;
  margin-right: -50vw;
  margin-left: -50vw;
  padding: 0;
}

.gallery-img {
  height: 400px;
}

.product__info {
  margin: 1rem 0.5rem 2rem 0.5rem;

  border-bottom: 1px solid #c6c6c6;
}

.product__price {
  margin: 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.19;
}

.product__number {
  margin: 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.17;
}

.product__color {
  margin: 1rem 0;

  color: #171717;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}

.product__color-picker-btns {
  display: flex;

  padding-bottom: 2rem;
}

.color-picker-btn {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin: 0;
  margin-right: 1rem;
  padding: 0;

  border: 0;
  border-radius: 50%;

  font-size: 0;
}

.color-picker-btn--black {
  background-color: #232122;
}

.color-picker-btn--fawn {
  background-color: #cfa880;
}

.color-picker-btn:active {
  border: 1px solid #232122;
}

.product__price-number {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.product__properties-btns {
  margin: 0 0.5rem;
}

.btn {
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  padding: 1rem 0;

  border: 0;
  border: solid 1px #171717;
  border-radius: 2px;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.17;
}

.btn--bg-black {
  color: #ffffff;
  background-color: #171717;
}

.btn--bg-white {
  color: #171717;
  background-color: #ffffff;
}

.product__size-help {
  margin: 0.5rem 0;
  padding: 0;

  color: #171717;
  border: 0;
  background-color: #ffffff;

  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}

@media (min-width: 48rem) {
  .product__title {
    margin: 1.5rem 0;

    font-size: 1.5rem;
    line-height: 1.17;
  }


  .gallery-img {
    height: 576px;

    flex: none;
  }

  .product__gallery {
    position: static;
    right: 0;
    left: 0;

    width: 100%;
    margin: 0;
    padding: 0;
  }

  .product__info {
    margin: 0 0 2rem 0;
  }

  .product__properties-btns {
    margin: 0;
  }

  .product {
    padding-bottom: 0;

    border-bottom: 1px solid #fff;
  }
}
